<h1>
  ようこそ
  <strong>Bookers</strong>
  へ！
</h1>
<p class= "top">
  <strong>Bookers</strong>
  ではさまざまな書籍に関するあなたの意見や<br />
  印象を共有し交換することが出来ます
</p>
<p class= "start_button"><%= link_to "start", "/books" %></p>
